
body {
    margin: 0;
    padding: 0;
  }

header {
    display: flex;
    /* position: relative; */
    align-items: center;
    padding: 15px;
    height: 15vh;
    text-align: center;
    background-color: rgb(128, 143, 153);
  }
/* header img { 
    width: 100px;
    height: 100px;
    position: absolute;
    left: 10px;
    margin-right: auto;
  } */

header h1 {
    flex-grow: 1; 
    color: rgb(30, 108, 210);
    font-style: oblique;
    letter-spacing: 3px;
    font-family: Arial, sans-serif;
  }

main {
    height: 100vh;
    /* display: flex; */
    justify-content: center; 
    align-items: center;   
    text-align: center;
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
  }

/* debut form inscpt Etudiat */
.form-inscpt {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 420px;
    background-color: rgb(152, 154, 158);
    padding: 20px;
    border-radius: 20px;
    position: relative;
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(51, 49, 49, 0.927);
  }
  
.Etudiant, .Enseignant {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    cursor: pointer;
    align-items: center;
    padding-left: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 20px;
    /* background-color:darkgray; */
  }
  
.Enseignant {
    color: brown;
  }
.flex0 {
    display: flex;
    gap: 90px;
  }
/* Etudiant cercle 1 */
  .Etudiant::before,.Etudiant_activer::after {
    position: absolute;
    content: " ";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
  }
  .Etudiant::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
  }
  .Etudiant::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
/* end Etudiant cercle 1 */
/* Enseignant cercle 2 */
  .Enseignant::before,.Enseignant_activer::after { /* edit "Enseignemant" to be active*/
    position: absolute;
    content: " ";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: brown;
  }
  .Enseignant::before {
    width: 18px;
    height: 18px;
    background-color:brown;
  }
  .Enseignant::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
/* end Enseignant cercle 2 */

.message {
    color: rgba(88, 87, 87, 0.822);
    font-size: 17px;
    text-align: left;
  }
  
.conect {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
    text-align: center;
  }
.conect a {
    color: royalblue;
  }
.conect a:hover {
    color: rgb(47, 81, 168) ;
    text-decoration: underline rgb(47, 81, 168);
  }
  
.flex1 {
    display: flex;
    gap: 20px;
  }
.flex1 label {
    width: 47%;
  }

.form-inscpt label {
    position: relative;
  }
  
.form-inscpt label .input {
    width: 98%;
    padding: 10px 0px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }

/* .input + span */
  .form-inscpt label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  .form-inscpt label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
  }
  .form-inscpt label .input:focus + span,.form-inscpt label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
  }
  .form-inscpt label .input:valid + span {
    color: green;
  }
/* end .input + span */
/* submit bouton */
.submit {
    border: none;
    background-color: royalblue;
    /* background-color: brown; */
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    /* transform: .3s ease; */
  }
.submit:hover {
    background-color: rgb(56, 90, 194);
    /* background-color: rgb(125, 32, 32); */ 
  }
  
@keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }
/* end form inscpt Etudiant */

